// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FFF

}
h2 {
  color: #062f3c;
  font-family: 'Open Sans', sans-serif;
}
h3 {
  color: #062f3c;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
p {
  color: #062f3c;
  font-family: 'Open Sans', sans-serif;
}
.panel-footer {
  background-color: #2b82ad;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-footer p {
  color: #FFF
}
.user_email {
  color: #062f3c;
  font-family: 'Open Sans', sans-serif;
}
.user_password {
  color: #062f3c;
  font-family: 'Open Sans', sans-serif;
}
.user_time_zone {
  color: #062f3c;
  font-family: 'Open Sans', sans-serif;
}
.user_remember_me {
  color: #737373
}
a {
  color: #737373
}
a:hover {
  color: #C2C2C2
}
.hr {
  border-top: 1px solid #062f3c;
}
.alert {
  border-radius: 0px;
}
.disabled {
  color: #C2C2C2
}
.current {
  text-decoration: underline;
}
.btn {
  border-radius: 0px;
}
.btn-warning {
  background-color: #f56722;
  border-color: #f55722;
  border-radius: 0px;
}
.btn-warning:hover {
  background-color: #f55722;
  border-color: #f57622;
}
.panel {
  border-radius: 0px
}
.form-control {
  border-radius: 0px;
}
.user_time_zone {
  border-radius: 0px;
}
.queue_link {
  color: #C2C2C2;
}
.queue_link:hover {
  color: #FFF
}
.queue_link:focus{
  text-decoration: none;
}
.homepage {
  	background: linear-gradient(to bottom right, #0790bc, #00E1A9 80%) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.homepage h3 {
  color: #FFF
}
.homepage p {
  color: #FFF
}
.homepage a {
  color: #FFF
}
.homepage a:hover {
  color: #C2C2C2
}
.homelogo {
	height: 120px;
	widows: 120px;
}

.tagline {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
} 

.alert {
	position: absolute;
	right: 30px;
	z-index: 2;
	width: 250px;
}

.logo {
	max-width: 150px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {

  border: 0px;

}
.bton {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.bton-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0px;
}

.bton-primary {
  color: #fff;
  background-color: #FFF;
  border-color: #FFF;
}

.bton-primary:hover,
.bton-primary:focus,
.bton-primary:active,
.bton-primary.active,
.open .dropdown-toggle.bton-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.bton.outline {
    background: none;
    padding: 12px 22px;
}
.bton-primary.outline {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}
.bton-primary.outline:hover, .bton-primary.outline:focus, .bton-primary.outline:active, .bton-primary.outline.active, .open > .dropdown-toggle.bton-primary {
    color: #ADFFEB;
    border-color: #ADFFEB;
}
.bton-primary.outline:active, .bton-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON bton VALUES
************************/

.bton {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.bton:focus, .bton:active:focus, .bton.active:focus {
    outline: 0 none;
}
a:hover {
	text-decoration: none;
}
.social a {
  color: #FFFFFF;
  text-decoration: none;
}






